<body>
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h3 style="background-color:darkseagreen">Create Customer</h3>
                    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" name="name" [(ngModel)]="customer.name" #name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required />
                            <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                                <div *ngIf="name.errors">Name is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="age">Age</label>
                            <input type="text" class="form-control" name="age" [(ngModel)]="customer.age" #age="ngModel" [ngClass]="{ 'is-invalid': f.submitted && age.invalid }" required />
                            <div *ngIf="f.submitted && age.invalid" class="invalid-feedback">
                                <div *ngIf="age.errors">Age is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="typeofAccount">Type Of Account</label>
                            <input type="text" class="form-control" name="typeofAccount" [(ngModel)]="customer.typeofAccount" #typeofAccount="ngModel" [ngClass]="{ 'is-invalid': f.submitted && typeofAccount.invalid }" required />
                            <div *ngIf="f.submitted && typeofAccount.invalid" class="invalid-feedback">
                                <div *ngIf="typeofAccount.errors">Type Of Account is required</div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input type="text" class="form-control" name="address" [(ngModel)]="customer.address" #address="ngModel" [ngClass]="{ 'is-invalid': f.submitted && address.invalid }" required />
                            <div *ngIf="f.submitted && address.invalid" class="invalid-feedback">
                                <div *ngIf="address.errors">Address is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
      </div>
      
      