<body>
<div class="panel panel-primary">
    <div class="panel-heading">
      <h2 style="background-color:darkgray">Customer List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Age</th> 
            <th>Type Of Account</th>
            <th>Address</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customers | async">
            <td>{{customer.name}}</td>
            <td>{{customer.age}}</td>
            <td>{{customer.typeofAccount}}</td>
            <td>{{customer.address}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
  